body {
    	background-image: url("bg.jpg");
        background-size:cover;
        font-family: "Arial Black", sans-serif;
}
.toolbar{
    color: white;
    position: absolute;
    top:2%;
    text-align: center;
vertical-align: middle;
    width: 100px;
        height:20px;
    margin: -0px 0 0 -50px;

}
#diets{
    position: absolute;
        left:70%;
}
#kitchen{
    position: absolute;
        left: 50%;
    
}
#home{
    position: absolute;
        left: 10%;
    
}
#search{
    position: absolute;
        left: 30%;
    
}
#contact{
    position: absolute;
        left: 90%;
    
}
#l1{
    position: absolute;
        left:40%;
        top:1.5%;
}
#l2{
    position: absolute;
        left:20%;
        top:1.5%;
}
#l3{
    position: absolute;
        left:60%;
        top:1.5%;
}
#l4{
    position: absolute;
        left:80%;
        top:1.5%;
}


#op{
    position: absolute;
    left: 10px;
    top:10%;
    width:605;
    height:88%;
    
    text-align: center;
}
#op h1{
           
vertical-align: middle;
    color: white;
    margin-top: 0px;
    position:relative;
    top: -73px;
    font-size: 40px;
     font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif   
    
}
#title{
    
}
#picture{
    position: absolute;
        
        top:110px;
    border:solid 3px white;
    width:600px;
    height:400px;
    border-radius: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}
#picture img {
    flex-shrink:0;
    resize: both;
    width:100%;
    height:100%;
    
}
#la{
    position: absolute;
        left: 0px;
        top:520px
}
#lb{
    position: absolute;
        left:605px;
        
        top:520px
}
#lc{
    position: absolute;
        left:165px;
        
        top:520px
    
}
#ld{
    position: absolute;
        left:305px;
        stroke:3px;
        top:520px;
    
}
#le{
    position: absolute;
        left:455px;
        
        top:520px;
    
}

.opis{
     text-align: center;
vertical-align: middle;
    width: 155px;
    height: 30px;
    color:white;
    
}

#wegan{
    
    position: absolute;
        left:5px;
        top:520px;
    
}
#gluten{
    
    position: absolute;
        left:155px;
        top:520px;
    
}
#time{
    
    position: absolute;
        left:305px;
        top:520px;
    
}
#people{
    
    position: absolute;
        left:455px;
        top:520px;
    
}
#ing{
   
    position: absolute;
    top: 9%;
    left: 650;
    width: 30%;
    height: 88%;
    margin: 0;
    color: white;
        font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif
    
    
    
}
#ing h1{
    margin-top: 0px;
    margin-bottom: 0px;
      
}
#ing2{
    overflow-y: auto;
   
    position: absolute;
    top: 11%;
    left: 0;
    width: 100%;
    height: 85%;
    font-size: 25px;
    color: white;
    
}
#ing2 li{
    margin-left: 10%;
}
::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid white;
border-radius: 10px;
    
    
}

::-webkit-scrollbar-thumb {
background: white;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: grey;  
}
#line1{
position: absolute;
top:5%;
    
    
}
#line2{
position: absolute;
top:96%;
    
    
}
#met{
        font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;

    color: white;
    top: 9%;
 position:absolute;
    width:35%;
    
    height: 87%;
    margin-left:30%;
        left:665;
    
}
#met h1{
    margin-top: 0px
}
#met ol{
    font-size: 25px;
    margin-right: 1px;
    
}